<div class="container">
  <h1>Mis Eventos</h1>
</div>
<div class="container">
  <h5 class="card-title">Listado de mis eventos</h5>

  <div class="my-2 text-left">
    <button class="btn btn-rounder btn-primary" type="button" [routerLink] = "['/eventxUser/createEvent']">Crear tus Eventos</button>
  </div>

 <div class="list-group">
    <a [routerLink]="['/eventxUser/createEvent',orden.idOrden]" class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let orden of ordenes">
      <div class="ms-2 me-auto">
        <div class="fw-bold">
          {{orden.nombreEvento}}
        </div>
      </div>
      <span class="badge bg-primary rounded-pill">{{orden.horario.fecha}}</span>
    </a>
  </div>

  <!--<div class="collection">
    <a href="#!" *ngFor="let evento of eventos" class="collection-item">{{evento.nombreEvento}}  --   {{evento.fechaEvento}}</a>
  </div>-->

</div>


