<div class="container">
  <div class="section">
    <div class="row">
      <div class="s12 m4 l8 ">
        <h2 class="header">Registro usuario</h2>
        <div class="card horizontal">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12 m4">
                <input id="name" type="text" class="validate">
                <label for="name">Nombres Completos</label>
              </div>
              <div class="input-field col s12 m4">
                <select>
                  <option value="" disabled selected >Seleccione un tipo</option>
                  <option *ngFor="let doc of docs">{{doc.descripcionLarga}}</option>
                </select>
                <label>Tipo de Documento</label>
              </div>
              <div class="input-field col s12 m4">
                <input id="email" type="text" class="validate">
                <label for="email">Numero de Identificación</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m12">
                <input id="email" type="email" class="validate">
                <label for="email">Correo Electŕonico</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m12">
                <input id="password" type="password" class="validate">
                <label for="password">Contraseña</label>
              </div>
              <div class="input-field col s12 m12">
                <input id="password2" type="password" class="validate">
                <label for="password2">Confirme la Contraseña</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m12">
                <input id="address" type="text" class="validate">
                <label for="address">Dirección</label>
              </div>
              <div class="input-field col s12 m6">
                <label for="email_inline">Fecha de Cumpleaños</label>
                <input type="text" class="datepicker">
              </div>
              <div class="input-field col s12 m6">
                <input id="phone" type="text" class="validate">
                <label for="phone">Teléfono</label>
              </div>
              <div class="col s12 m6">
                <p>
                  <label>
                    <input type="checkbox" />
                    <span> Acepta  <a class="waves-effect waves-light  modal-trigger" href="#modal1" > Terminos y condiciciones</a></span>
                  </label>
                </p>
              </div>
            </div>
            <div class="card-action">

              <button type="submit" class="btn btn-primary pulse">Guardar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Terminos y condiciciones del sitio</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam incidunt quibusdam provident consequatur natus, quas, illo doloremque, rem quidem reiciendis molestias suscipit aliquam soluta impedit sed animi! Necessitatibus, suscipit animi?</p>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>
