<div class="container">
  <div class="card">
    <div class="card-header">
      Registro Usuario
    </div>
    <div class="card-body">
      <h5 class="card-title">Datos Usuario</h5>
      <form >
        <div class="row g-3  ">
          <div class="input-field col-md-4">
            <label for="name">Nombres Completos</label>
            <input id="name" type="text" class="form-control" name="nombre" [(ngModel)]="usuario.nombre">

          </div>
          <div class="input-field col-md-4">
            <label for="name">Tipo documento</label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="usuario.tipoDocumento">
              <option value="" disabled selected>Seleccione un tipo</option>
              <option [ngValue]="doc" *ngFor="let doc of tDocs">{{doc.descripcionLarga}}</option>
            </select>
          </div>
          <div class="input-field  col-md-4">
            <label for="numeroId">Numero de Identificación</label>
            <input id="numeroId" type="text" class="form-control" name="numeriIdentificacion"
              [(ngModel)]="usuario.numeroIdentificacion">

          </div>
        </div>
        <div class="row g-3 ">
          <div class="input-field  col-md-4">
            <label for="email">Correo Electŕonico</label>
            <input id="email" type="text" class="form-control" name="email" [(ngModel)]="usuario.email">

          </div>

          <div class="input-field  col-md-4">
            <label for="password">Contraseña</label>
            <input id="password" type="password" class="form-control" name="password" [(ngModel)]="usuario.password">

          </div>
          <div class="input-field  col-md-4">
            <label for="password2">Confirme la Contraseña</label>
            <input id="password2" type="password" class="form-control" name="password2" [(ngModel)]="usuario.password">

          </div>
        </div>
        <div class="row g-3 ">
          <div class="input-field  col-md-4">
            <label for="address">Dirección</label>
            <input id="address" type="text" class="form-control" name="direccion" [(ngModel)]="usuario.direccion">

          </div>
          <div class="input-field col-md-4">
            <label for="fechaCumpleaños">Fecha de Cumpleaños</label>
            <input type="date" class="form-control" name="fechaCumpleaños" [(ngModel)]="usuario.fechaNacimiento">
          </div>
          <div class="input-field  col-md-4">
            <label for="phone">Teléfono</label>
            <input id="phone" type="text" class="form-control" name="telefono" [(ngModel)]="usuario.telefono.telefono">

          </div>
          <div class="row g-3 ">
            <div class=" col-md-4">
              <p>
                <label>
                  <input type="checkbox" />
                  <span> Acepta <a id="modal" class="waves-effect waves-light  modal-trigger"
                      href="#modal1"> Terminos y condiciciones</a></span>
                </label>
              </p>
            </div>
          </div>

        </div>
        <div class="card-action">

          <button type="submit" class="btn btn-primary pulse" (click)="register()">Guardar</button>
        </div>

      </form>

    </div>

  </div>
</div>
