<div class="card text-center">
  <div class="card-header">
    Que deseas hacer hoy ?
  </div>


  <div class="card-body">
    <div class="card-group">
       <div class="card">
      <img src="../../../assets/img/clienteusu.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Inicia o Verifica tus eventos</h5>
        <p class="card-text">Encuentra cada evento que realizaste o estar por hacer ! confirma a tus proveedores y haz de ese día una
          reunión exitosa.</p>
        <p class="card-text"><small class="text-muted"><a class="btn btn-info" href="eventxUser">Verifica tus Eventos</a></small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/serviciousu.png" class="card-img-bottom" alt="...">
      <div class="card-body">
        <h5 class="card-title">Animate a Ofrecer Experiencias</h5>
        <p class="card-text">Publica tus productos y servicios, haz visible lo que puedes ofrecer para brindar experiencias en eventos
          sociales.</p>
        <p class="card-text"><small class="text-muted"><a class="btn btn-info" href="servxUser">Ofrecer tus Servicios</a></small></p>
      </div>

    </div>


  </div>






  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

