<div class="container">
  <h1>Que deseas hacer hoy ? </h1>
</div>
  <div class="container">
    <div class="row">
      <div class="col s6 ">
        <div class="card medium">
          <div class="card-image">
            <img src="../../../assets/img/clienteusu.jpg">
            <span class="card-title">Inicia o Verifica tus eventos</span>
          </div>
          <div class="card-content">
            <p>Encuentra cada evento que realizaste o estar por hacer ! confirma a tus proveedores y haz de ese día una reunión exitosa.</p>
          </div>
        </div>
      </div>
      <div class="col s6 ">
        <div class="card medium">
          <div class="card-image">
            <img src="../../../assets/img/serviciousu.png">
            <span class="card-title">Animate a Ofrecer Experiencias</span>
          </div>
          <div class="card-content">
            <p>Publica tus productos y servicios, haz visible lo que puedes ofrecer para brindar experiencias en eventos sociales.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

