<div class="container">
  <h1>Olvidaste la Contraseña?</h1>
  <p>Indicanos la siguiente información para poder ayudarte a encontrar tu contrasña! </p>

  <div class="row">
    <div class="input-field col s12">
      <input id="name" type="text" class="validate">
      <label for="name">Correo Electrónico</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="name" type="text" class="validate">
      <label for="name">Numero de Identificación</label>
    </div>
  </div>


  <div class="my-2 text-left">
    <button class="btn btn-rounder btn-primary" type="button" [routerLink] = "['/servicios']">Obtener Contraseña</button>
  </div>
