
  <div class="row">
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/img/mariachis.jpg" width="300px" height="270px">
          <span class="card-title">Mariachis de México</span>
        </div>
        <div class="card-content">
          <p>Los mejores mariachis que la tierra de pancha puede traer, estamos disponibles para tocar, cantar y bailar en cualquier parte de la ciudad</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/img/comida1.jpg" width="300px" height="270px" >
          <span class="card-title">Platos a la Carta</span>
        </div>
        <div class="card-content">
          <p>Deguste los mejores platos , sea el rey del evento con sabores exoticos o tradicionales en su evento</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/img/dj1.jpeg" width="300px" height="270px" >
          <span class="card-title">DJ Music</span>
        </div>
        <div class="card-content">
          <p>Las mejores mezclas y animación dentro de su evento</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

  <div class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="../../../assets/img/dj1.jpeg" width="300px" height="270px">
        <span class="card-title">DJ Music</span>
      </div>
      <div class="card-content">
        <p>Las mejores mezclas y animación dentro de su evento</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/img/sala1.jpeg" width="300px" height="270px">
          <span class="card-title">Salas Geniales</span>
        </div>
        <div class="card-content">
          <p>La gran recepción no será problema para su evento, las mejores inslataciones</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/img/sala1.jpeg" width="300px" height="270px">
          <span class="card-title">Salas Geniales</span>
        </div>
        <div class="card-content">
          <p>La gran recepción no será problema para su evento, las mejores inslataciones</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/img/recepcion.jpg" width="300px" height="270px">
          <span class="card-title">Recepciones piscina</span>
        </div>
        <div class="card-content">
          <p>Las fiesta ya no son solo elegantes, disfruta de nuestra piscina mientras bailan y gozan de su evento.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/img/vallenato.jpg" width="300px" height="270px">
          <span class="card-title">Vallenatos Morales</span>
        </div>
        <div class="card-content">
          <p>De los calidos sonidos del Cesar a su evento , tenemos el mejor repertorio para baile, danza, canto y fanfarrón.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/img/dj2.jpeg" width="300px" height="270px">
          <span class="card-title">Dj Joshep</span>
        </div>
        <div class="card-content">
          <p>Variedad de temas y animación , nadie se queda dormido .</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/img/comida2.jpg" width="300px" height="270px">
          <span class="card-title">Comidas Eventos</span>
        </div>
        <div class="card-content">
          <p>Deleite su paladar con las mejores comidas para sus eventos, los mejores chefs a su disposicion</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/img/sala2.jpeg" width="300px" height="270px">
          <span class="card-title">Recepciones Agusto</span>
        </div>
        <div class="card-content">
          <p>Confor y comodidad para la estadia de sus invitados.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/img/sala2.jpeg" width="300px" height="270px">
          <span class="card-title">Recepciones Agusto</span>
        </div>
        <div class="card-content">
          <p>Confor y comodidad para la estadia de sus invitados.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>




