<div class="container">
  <div class="row g-3 ">
    <div class=" col-md-4" *ngFor="let card of ListedService">
      <div class="card" style="width: 18rem;">
        <img [src]="card.imagenServicio" class="card-img-top" alt="..."><img>

        <div class="card-body">
          <h5 class="card-title">{{card.nombreServicio}}</h5>
          <p class="card-text">{{card.descripcionServicio}}</p>
          <a href="#" class="btn btn-primary">Datos</a>
        </div>
      </div>
    </div>
  </div>
</div>
