<div class="container mt-3">
  <div class="card text-center">
    <div class="card-header">
      Crea tu evento !
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <fieldset>

          <div class="mb-3">
            <label for="nombreServicio" class="form-label">Nombre del evento</label>
            <input type="text" required [(ngModel)]="crearOrden.nombreEvento" #nombreServicio="ngModel"
              class="form-control" id="nombreServicio" name="nombreServicio" aria-describedby="emailHelp">
            <div *ngIf="nombreServicio.invalid && (nombreServicio.dirty || nombreServicio.touched)">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

          </div>
          <div class="mb-3">
            <label for="fecha" class="form-label">Fecha Que se realizara</label>
            <input type="date" class="form-control" required [(ngModel)]="crearOrden.horario.fecha" #fecha="ngModel"
              id="fecha" name="fecha">
            <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
              <div id="emailHelp" class="form-text">recuerda que to es una fecha</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="hora" class="form-label">Hora en la que se realizara el Evento</label>
            <input type="time" class="form-control" required [(ngModel)]="crearOrden.horario.hora" #hora="ngModel"
              id="hora" name="hora" step="2">
            <div *ngIf="hora.invalid && (hora.dirty || hora.touched)">
              <div id="emailHelp" class="form-text">recuerda que to es una Hora hobligatoria</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="estado" class="form-label">Estado</label>
            <select class="form-select" [(ngModel)]="crearOrden.estado" #estado="ngModel" name="estado" aria-label="Disabled select example">
              <option selected disabled >Seleccione......</option>
              <option [ngValue]="listes" *ngFor ="let listes of listEstado ">{{listes.estado}}</option>
            </select>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre Servicio</th>
                <th scope="col">cantidad</th>
                <th scope="col">Valor Unidad</th>
                <th scope="col">valor total</th>
                <th scope="col">Contacta</th>
                <th scope="col">Pagar</th>
                <th scope="col">borrar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itemServicioSelect of ListaServSeleccionado">
                <td>
                  {{itemServicioSelect.nombreServicio}}
                </td>
                <td>

                  <input type="number" value="1" min="1" max="50" name="cantidad" [(ngModel)]="itemServicioSelect.cantidad" (change)="cambiarValor()">
                </td>
                <td>
                  {{itemServicioSelect.precionUnidad}}
                </td>
                <td>
                  {{itemServicioSelect.valorTotal}}
                </td>
                <td>
                  <a (click)="toWhatsApp()">
                    <img src="../../../assets/img/WhatsApp_Logo_3.png" height="50px" />
                  </a>
                </td>
                <td>
                  <a (click)="toPay()">
                    <!--<img src="../../../assets/img/logo-pse.png" height="50px" />-->
                    <img src="https://www.nequi.com.co/wp-content/themes/nequi/img/logo_nequi_header.svg" height="20px" />
                  </a>
                </td>
                <td>
                  <button type="button" class="btn btn-danger" (click)="borrar(this.itemServicioSelect.idServicio)">
                    Borrar
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">Valor total de la orden</td>
                <td colspan="2" >{{crearOrden.precioTotal}}</td>
              </tr>
            </tfoot>
          </table>
          <button class="btn btn-primary" [disabled]="!f.valid">Guardar</button>
          <!--<button class="btn btn-primary" [disabled]="!f.valid" data-bs-toggle="modal" data-bs-target="#confirmEvent" >Guardar</button>-->
        </fieldset>
      </form>
    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Seleccionar Servicio</a>
    </div>
  </div>

</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Selecciona tu Servicio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-listado-servicios (servicioSeleccionado)="servicioSeleccionado = $event"></app-listado-servicios>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveChanges()">Save
          changes</button>
      </div>
    </div>
  </div>
</div>

<!--Modal confirmar evento-->

<div class="modal fade" id="editarservicio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajusta tu Evento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Malditasea</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  >Save
          changes</button>
      </div>
    </div>
  </div>
</div>




