<div class="container mt-3">
  <div class="card text-center">
    <div class="card-header">
      Crea tu evento !
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <fieldset>

          <div class="mb-3">
            <label for="nombreServicio" class="form-label">Nombre del evento</label>
            <input type="text" required [(ngModel)]="crearOrden.nombreServicio" #nombreServicio="ngModel"
              class="form-control" id="nombreServicio" name="nombreServicio" aria-describedby="emailHelp">
            <div *ngIf="nombreServicio.invalid && (nombreServicio.dirty || nombreServicio.touched)">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

          </div>
          <div class="mb-3">
            <label for="fecha" class="form-label">Fecha Que se realizara</label>
            <input type="date" class="form-control" required [(ngModel)]="crearOrden.horario.fecha" #fecha="ngModel"
              id="fecha" name="fecha">
            <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
              <div id="emailHelp" class="form-text">recuerda que to es una fecha</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="hora" class="form-label">Hora en la que se realizara el Evento</label>
            <input type="time" class="form-control" required [(ngModel)]="crearOrden.horario.hora" #hora="ngModel"
              id="hora" name="hora" step="2">
            <div *ngIf="hora.invalid && (hora.dirty || hora.touched)">
              <div id="emailHelp" class="form-text">recuerda que to es una Hora hobligatoria</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="estado" class="form-label">Estado</label>
            <select class="form-select" [(ngModel)]="crearOrden.estado" #estado="ngModel" name="estado" aria-label="Disabled select example">
              <option selected disabled >Seleccione......</option>
              <option [ngValue]="listes" *ngFor ="let listes of listEstado ">{{listes.estado}}</option>
            </select>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre Servicio</th>
                <th scope="col">cantidad</th>
                <th scope="col">valor total</th>
                <th scope="col">borrar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{servicioSeleccionado.nombreServicio}}
                </td>
                <td>
                  {{crearOrden.cantidad}}
                </td>
                <td>
                  {{crearOrden.valorTotal}}
                </td>
                <td>
                  <button class="btn btn-info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-file-x" viewBox="0 0 16 16">
                      <path
                        d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z" />
                      <path
                        d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">esto es tododo amigos</td>
              </tr>
            </tfoot>
          </table>
          <button class="btn btn-primary" [disabled]="!f.valid">Guardar</button>
        </fieldset>
      </form>
    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Seleccionar Servicio</a>
    </div>
  </div>

</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-listado-servicios (servicioSeleccionado)="servicioSeleccionado = $event"></app-listado-servicios>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveChanges()">Save
          changes</button>
      </div>
    </div>
  </div>
</div>
