<div class="container">
  <h1>Mis Servicios</h1>
</div>
<div class="container">
  <h5 class="card-title">Listado de mis Servicios</h5>

  <div class="my-2 text-left">
    <button class="btn btn-rounder btn-primary" type="button" [routerLink] = "['/servxUser/createService']">Crear Servicio</button>
  </div>

  <div class="list-group">
    <a [routerLink]="['/verServicio',service.idServicio]" class="list-group-item list-group-item-action" *ngFor="let service of servicios">{{service.nombreServicio}}</a>
  </div>
</div>

